
body {
  display: block;

  color: rgb(34, 39, 39);
}
.logoCircel {
  background-color: red;
  background-image: linear-gradient(
    linear-gradient(to top, rgb(50, 0, 83), rgb(50, 0, 83), white)
  );
}
.myNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchNavBar {
  display: flex;
  text-align: center;
  border-radius: 30px;
  border: 1px solid rgb(34, 39, 39);
  padding: 5px 10px 5px 10px;
  align-content: center;
  align-items: center;
}

input:focus {
  outline: none;
  border: none;
  border-color: transparent;
}
input {
  border: none;
}
